# eclipse
bin
*.launch
.settings
.javadoc
.factorypath
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# Files from Forge MDK
forge*changelog.txt
changelog.txt
/.apt_generated_tests/
/Users/
